<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Employees</h1>
    <ul>
        <li th:each="employee: ${employees}">
            <span th:text="${employee.id}"></span>
            <a th:href="${employee.id}" th:text="${employee.name}"></a>
            <span th:text="${employee.salary}"></span>
            <span th:text="${employee.entryTime}"></span>
        </li>
    </ul>

    <form th:action="@{/}" method="post" th:object="${newEmployee}">
        id: <input th:field="*{id}" type="number" min=0> <br>
        Name: <input th:field="*{name}"> <br>
        Salary: <input th:field="*{salary}" type="number" min=0> <br>
        Entry: <input th:field="*{entryTime}" type="datetime-local"> <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>