<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Modify Employee</h1>
    <ul>
        <form th:action="@{/modifyEmployee}" method="post" th:object="${employee}">
            id: <span th:text="*{id}"></span> <br>
            <input th:field="*{id}" type="hidden">
            Name: <input  th:field="*{name}"> <br>
            Job: <input  th:field="*{job}"> <br>
            Salary: <input th:field="*{salary}" type="number" min=0> <br>
            Entry: <input th:field="*{entryTime}" type="datetime-local"> <br>
            <input type="submit" value="Save">
        </form>
    </ul>
</body>
</html>